daily_fetch_working_logs:
  cron: '30 18 * * 1-6'
  class: DailyFetchWorkingLogsWorker
  queue: default

create_report_worker:
  cron: '0 12 * * 1-5'
  class: CreateReportWorker
  queue: default

update_reports_worker:
  cron: '0 19 * * 1-6'
  class: UpdateReportsWorker
  queue: default

fetch_all_report_worker:
  cron: '0 20 * * 1-6'
  class: FetchAllReportWorker
  queue: default

update_story_worker:
  cron: '0 8,12,20 * * 1-5'
  class: UpdateStoryWorker
  queue: default

search_all_time_crowd_task_worker:
  cron: '30 7,12,18 * * 1-5'
  class: SearchAllTimeCrowdTasksWorker
  queue: default

trigger_total_time_crowd_worker:
  cron: '30 8,10,12,14,16,18 * * 1-5'
  class: TriggerTotalTimeCrowdWorker
  queue: default

trigger_update_subject_redmine_worker:
  cron: '0 8,10,12,14,16,18 * * 1-5'
  class: TriggerUpdateSubjectRedmineWorker
  queue: default

trigger_update_status_redmine_worker:
  cron: '0 8,12,17 * * 1-5'
  class: TriggerUpdateStatusRedmineWorker
  queue: default

update_init_story_redmine_worker:
  cron: '* 8,9,10,11,12,13,14,15,16 * * 1-5'
  class: UpdateStoryRedmineWorker
  queue: default

update_actived_story_worker:
  cron: '0,10,20,30,40,50 8,9,10,11,12,13,14,15,16,17 * * 1-5'
  class: UpdateActivedStoryWorker
  queue: default

# update_init_story_redmine_worker:
#   cron: '0,10,20,30,40,50 8,9,10,11,12,13,14,15,16,17 * * 1-5'
#   class: UpdateStoryRedmineWorker
#   queue: default
#   args: ['init']

# update_in_progress_story_redmine_worker:
#   cron: '0,10,20,30,40,50 8,9,10,11,12,13,14,15,16,17 * * 1-5'
#   class: UpdateStoryRedmineWorker
#   queue: default
#   args: ['in_progress']

# update_resolved_story_redmine_worker:
#   cron: '0,10,20,30,40,50 8,9,10,11,12,13,14,15,16,17 * * 1-5'
#   class: UpdateStoryRedmineWorker
#   queue: default
#   args: ['resolved']

# update_feedback_story_redmine_worker:
#   cron: '0,10,20,30,40,50 8,9,10,11,12,13,14,15,16,17 * * 1-5'
#   class: UpdateStoryRedmineWorker
#   queue: default
#   args: ['feedback']
