<header>
  <h1>Team Work Performance Report</h1>
  <p>Evaluate, analyze, and improve the work performance of team members</p>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="nav-links">
        <%= link_to "Home", apw_root_path %>
        <%= link_to "Report", apw_reports_path %>
        <%= link_to "Timecrowd", apw_timecrowds_path %>
    </div>
    <div class="search-container">
      <input type="text" id="search" placeholder="Search stories">
      <div class="dropdown" id="results"></div>
    </div>
  </nav>
</header>

<script type="text/javascript">
  const sentinelElement = document.createElement('div');
  sentinelElement.style.position = 'absolute';
  sentinelElement.style.top = '60px';
  document.body.appendChild(sentinelElement);

  const headerObserver = new IntersectionObserver(
    ([entry]) => {
      const header = document.querySelector('header');
      if (!entry.isIntersecting) {
        header.classList.add('scrolled');
      } else {
        header.classList.remove('scrolled');
      }
    },
    { threshold: 0 }
  );

  headerObserver.observe(sentinelElement);
</script>
